.swiper-button-prev,
.swiper-button-next {
  @apply text-designColor; /* Apply text-designColor */
}

/* Customize navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #ff014f;
  background: none;
   display: none;
}
.swiper-button-next.no-hover:hover,
.swiper-button-prev.no-hover:hover {
  background: none; 
   display: none;
}

/* Customize pagination dots */
.swiper-pagination-bullet {
  background-color: #444142;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.swiper-pagination-bullet-active {
  background-color: #ff014f;
 
  opacity: 1;
}
